.footer-info,
.footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    @media (min-width: 768px) {
        flex-direction: row;
        column-gap: 25px;
        row-gap: 20px;

        /*.footer-item:not(:last-child)::after {
            content: "";
            display: inline-block;
            width: 6px;
            height: 6px;
            background: #B3B3BA;
            border-radius: 100%;
            margin-left: 10px;
        }*/
    }
}

.footer-social {
    grid-column: 1/2;
    grid-row: 2/3;
}

.footer {
    background: #F5F5FA;
    padding-top: 0px;
    padding-bottom: 30px;

    p {
        margin: 0;
    }

    &-line {
        border-top: 2px solid #E6E6F0;
        padding-top: 30px;

        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: 400px 1fr;
            row-gap: 20px;

            .footer-copyright {
                margin-top: 0;
                text-align: right;
            }

            .footer-fb {
                margin-top: 0;
            }
        }
    }

    &-adress {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #323264;
        margin-top: 0;
        margin-bottom: 10px;
    }

    &-map {
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #24A3FF;
    }

    &-fb {
        margin-top: 20px;
    }

    &-phone {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #46466E;
        margin-top: 0;
        margin-bottom: 10px;
    }

    &-email {
        margin-top: 0;
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #24A3FF;
    }

    &-copyright {
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #B3B3BA;
        margin-bottom: 0;
        margin-top: 30px;
        font-style: normal;
    }
}