@media (max-width: 768px) {
    #menu__toggle {
        opacity: 0;
      }
    
    .menu {
        &__bottom {
            visibility: hidden;
            background-color: rgba(50, 50, 100, 0.7);
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 5;
        }
    
        &__btn {
            position: fixed;
            width: 32px;
            height: 32px;
            cursor: pointer;
            z-index: 10;
        }
    
        &__btn > span,
        &__btn > span::before,
        &__btn > span::after {
          display: block;
          position: absolute;
          width: 18px;
          height: 2px;
          background-color: #FFFFFF;
        }
    
        &__btn > span::before {
          content: '';
          top: -6px;
        }
        &__btn > span::after {
          content: '';
          top: 6px;
        }
    
        &__box {
            width: calc(100% - 16px);
            margin-left: 8px;
            margin-right: 8px;
            display: block;
            position: fixed;
            border-radius: 12px 12px 0px 0px;
            padding: 64px 12px 12px 12px;
            bottom: 0;
            list-style: none;
            text-align: center;
            background-color: #FFFFFF;
            box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
            position: absolute;
    
            & li:not(:last-child) {
                margin-bottom: 10px;
            }
    
            & li:hover {
                background: #E6E6F0;
            }
        }
    
        &__item {
            color: #24A3FF;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            height: 43px;
            background: #F5F5FA;
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
    
            &--active {
                color: #F0145A;
            }
        }
    }
    
    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__bottom {
        visibility: visible;
      }
}