* {
    box-sizing: border-box;
}

.body {
    font-family: Montserrat, Lato, sans-serif;
    background-color: #F9F9F9;
}

.wrapper {
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

button {
    display: inline-block;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

ul li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
}

input {
    border: none;
    outline: none;
    background: transparent;
}