@import url("../assets/fonts/fonts.css");
@import "./normalize";
@import "./scafolding";

.main-services {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius: 0px 0px 12px 12px;
    padding-top: 30px;
    padding-bottom: 60px;
}

.main-services::after {
    display: block;
    content: '';
    width: 335px;
    height: 10px;
    background: #CACADB;
    border-radius: 0px 0px 12px 12px;
    margin-left: auto;
    margin-right: auto;
}

.h3-pink {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-emphasis-color: transparent;
}

.link-right-arrow {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24A3FF;
}

.link-right-arrow::after {
    content: url('../assets/images/arrow-right-small.svg');
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 2px;
}

.services {
    &-icon {
        background: #FFFFFF;
        border-radius: 24px;
        width: 92px;
        height: 92px;
        margin-bottom: 30px;
    }
    
    &-img {
        margin: 14px;
    }
    
    &-title {
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        color: #24A3FF;
        margin-top: 0;
        margin-bottom: 15px;
    }
    
    &-description {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
        margin: 0;
    }

    &-block {
        margin-top: 30px;
    }
}

@media (min-width: 768px) {
    .wrapper {
        width: 648px;
    }

    .services-blocks {
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
    }

    .services-block {
        width: 294px;
    }

    .h3-pink {
        font-size: 38px;
        line-height: 46px;
    }

    .logos {
        display: flex;
        flex-wrap: wrap;

        &-main {
            width: 256px;
        }

        &-7 {
            display: block;
        }
    }
}

@media (min-width:375px) and (max-width: 768px) {
    .logos {
        &-hidden-7 {
            display: none;
        }
    }  
}

@media (min-width: 1024px) {
    .wrapper {
        width: 904px;
    }

    .services-blocks {
        justify-content: space-between;
    }

    .services-block {
        width: 261px;
    }
}

@media (min-width: 1440px) {
    .wrapper {
        width: 1320px;
    }

    .services-block {
        width: 400px;
    }
}

@media (min-width: 1920px) {
    .wrapper {
        width: 1600px;
    }

    .services-block {
        width: 493px;
    }
}


.logos {
    &-main {
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-1 {
        background: #1C4280;
    }

    &-2 {
        background: #143646;
    }

    &-3 {
        background: #F48B30;
    }

    &-4 {
        background: #9E4DC3;
    }

    &-5 {
        background: #FD9339;
    }

    &-6 {
        background: #E2E2E4;
    }

    &-7 {
        background: #C71C36;
    }

    &-8 {
        background: #DCF3F9;
    }

    &-9 {
        background: #EAEAEA;
    }

    &-10 {
        background: #282240;
    }

    &-11 {
        background: #1D4568;
    }

    &-12 {
        background: #000000;
    }
}