@import url("../assets/fonts/fonts.css");
@import "./normalize";
@import "./scafolding";

.main-services {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius: 0px 0px 12px 12px;
    padding-top: 30px;
    padding-bottom: 60px;
    position: relative;
}

.main-services::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 20px;
    height: 10px;
    background: #CACADB;
    border-radius: 0px 0px 12px 12px;
    width: calc(100% - 40px);
}

.main-services::before {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 40px;
    height: 10px;
    background: #E7E7F2;
    border-radius: 0px 0px 12px 12px;
    width: calc(100% - 80px);
}

.hero {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-emphasis-color: transparent;
    margin-top: 10px;
    margin-bottom: 30px;
}

.subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24A3FF;
}

.subtitle::after {
    content: url('../assets/images/arrow-right-small.svg');
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 2px;
}

.services {
    &-icon {
        background: #FFFFFF;
        border-radius: 24px;
        width: 92px;
        height: 92px;
        margin-bottom: 30px;
    }
    
    &-img {
        margin: 14px;
    }
    
    &-title {
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        color: #24A3FF;
        margin-top: 0;
        margin-bottom: 15px;
    }
    
    &-description {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
        margin: 0;
    }

    &-block {
        width: 100%;
        margin-bottom: 30px;
    }
}


@media (max-width: 768px) {
    .logos-main:nth(n+7) {
        display: none;
    } 
}

@media (min-width: 768px) {
    .wrapper {
        padding-left: 60px;
        padding-right: 60px;
    }

    .services-blocks {
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
    }

    .services-block {
        width: calc(50% - 30px);
        margin-bottom: 0px;
    }

    .hero {
        font-size: 38px;
        line-height: 46px;
        margin-bottom: 60px;
    }

    .logos {
        display: flex;
        flex-wrap: wrap;

        &-main {
            width: 33.33%;
        }
    }
}

@media (min-width: 1024px) {
    .services-blocks {
        justify-content: space-between;
    }

    .services-block {
        width: calc(33.33% - 40px);
    }

    .logos {
        &-main {
            width: 25%;
        }
    }
}

@media (min-width: 1440px) {
    .services-block {
        width: calc(33.33% - 40px);
    }
}

@media (min-width: 1920px) {
    .services-block {
        width: calc(33.33% - 40px);
    }

    .logos {
        border-radius: 100px;
    }
}

.logos {
    margin-left: auto;
    margin-right: auto;
    max-width: 1720px;

    &-main {
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-1 {
        background: #1C4280;
    }

    &-2 {
        background: #143646;
    }

    &-3 {
        background: #F48B30;
    }

    &-4 {
        background: #9E4DC3;
    }

    &-5 {
        background: #FD9339;
    }

    &-6 {
        background: #E2E2E4;
    }

    &-7 {
        background: #C71C36;
    }

    &-8 {
        background: #DCF3F9;
    }

    &-9 {
        background: #EAEAEA;
    }

    &-10 {
        background: #282240;
    }

    &-11 {
        background: #1D4568;
    }

    &-12 {
        background: #000000;
    }
}